@{
    ViewData["Title"] = "Home - Silat";
}
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb" id="breadcrumb-container">

        </ol>
    </nav>
    <div class="container">
        <div class="tow">
            <div class="col-md-12">
                @foreach(var categoria in ViewBag.Categoria)
                {
                    <a href="@Url.Action("Productos", "Home", new {categoriaId = categoria.CategoriaId})" class="btn bnt-outline-secondary btn-sm">@categoria.Nombre</a>
                }
            </div>
        </div>
    </div>
    <h2 class="my-4">Productos destacados</h2>
    <div class="row" id="productosContainer">
        @foreach(var producto in Model)
        {
            <div class="col-md-4 col-sm-6 mb-4 productoItem" data-categoria="@producto.CategoriaId">
                <div class="card h-100 d-grid">
                    <a href="@Url.Action("DetalleProducto", "Home", new{id=producto.ProductoId})">
                        <img class="card-img-top" src="@producto.Imagen" alt="Imagen del producto">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title text-center">
                            <a href="@Url.Action("DetalleProducto", "Home", new{id=producto.ProductoId})">@producto.Nombre</a>
                        </h5>
                        <p class="card-text">@producto.Descripcion</p>
                    </div>
                    <ul></ul>
                </div>
            </div>
        }
    </div>
</div>